{% extends 'head.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="static/css/articlesList.css" />
{% endblock %}
{% block content %}
  <div class="d-flex flex-wrap gap-2 ms-4">
    {% for tag in tags %}
    {% if tag.id == null %}
      <a href="app.php?route=articlesList&tag={{ tag.id }}" class="badge rounded-pill bg-primary bg-opacity-10 text-primary border border-primary border-opacity-25 fs-6 px-3 py-2">{{ tag.nom_tag }}</a>
      {% else %}
      <a href="app.php?route=articlesList&tag={{ tag.id }}" class="badge rounded-pill bg-primary bg-opacity-10 text-primary border border-primary border-opacity-25 fs-6 px-3 py-2">#{{ tag.nom_tag }}</a>
    {% endif %}
    {% endfor %}
  </div>

  <div class="album py-5">
    <div class="container">
      <div class="row">
        {% for article in articlesList %}
          <div class="col-6 col-sm-4 col-md-3">
            <div class="card mb-4 shadow-sm">
              {% if article.image_une != null %}
                <img class="card-img-top" src="static/img/{{ article.image_une }}" alt="Article" />
              {% else %}
                <img class="card-img-top" src="static/img/empty_article.jpg" alt="Article" />
              {% endif %}
              <div class="card-body">
                <p class="card-text">{{ article.titre }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary" href="app.php?route=article&id={{ article.id }}">Voir</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
