{% extends "head.twig" %} {% block stylesheets %}
<link rel="stylesheet" href="static/css/articlePage.css" />
{% endblock stylesheets %} {% block content %}
<div class="blog-post">
	<h1 class="blog-post-title">{{ article.titre }}</h1>
	<p class="blog-post-meta">
		Créé le {{ article.date_creation|date("d/m/Y") }} par
		{{ auteur.nom_utilisateur }}

		<br />Mis à jour le {{ article.date_mise_a_jour|date("d/m/Y") }}
	</p>

	<p>
		{% apply markdown_to_html %}
		{{ article.contenu }}
		{% endapply %}
	</p>

	<div>
		<hr />
		<h4><i class="bi bi-tag"></i> Tags</h4>
		{% set tags_names = [] %} {% for tag in tags %} {% set tags_names =
		tags_names|merge([tag.nom_tag]) %} {% endfor %}
		{{ tags_names|join(' - ') }}
	</div>

	<br />
	<hr />
	<h3 class="text-center"><i class="bi bi-chat-text"></i> Commentaires</h3>
	<div class="m-5">
		{% for comment in comments %}
		<div
			class="perso-border border rounded border-1 border-primary border-opacity-50 p-2"
		>
			<h5>
				<strong>
					<i class="bi bi-person-circle"></i> {{ comment.nom_auteur }}
				</strong>
			</h5>
			<span class="blog-post-meta">
				<small>
					<i class="bi bi-calendar-date-fill"></i>
					{{ comment.date_commentaire|date("d/m/Y") }}
				</small>
			</span>
			<p>
				{{ comment.contenu }}
			</p>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}
