<!DOCTYPE html>
<html lang="en" x-data="{ openUserModal: false }" x-cloak>
	<head>

		<script>

			(function () {
				const root = document.documentElement;
				theme = document.cookie
					.split("; ")
					.find((row) => row.startsWith("theme="))
					?.split("=")[1] || null;
				
				if (theme == null){
					theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
				}
				
				root.setAttribute("data-bs-theme", theme);
			})();

		</script>

		<title>{{ titre_doc }}</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="icon" href="static/img/icone.png"/>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="static/css/global.css" rel="stylesheet"/>
		<link
		href="vendor/twbs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
		<script defer src="node_modules/alpinejs/dist/cdn.min.js"></script>
		{% block stylesheets %}{% endblock %}
		{% block script %}{% endblock %}
	</head>

	<nav class="bg-plain navbar navbar-expand fixed-top" aria-label="Menu de navigation">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					{% for item in menu %}
						<li class="nav-item">
							{% set navClass = "nav-link" %}
							{% if item.disabled == 1 %}
								{% set navClass = navClass ~ " disabled" %}
							{% elseif currentPage == item.page %}
								{% set navClass = navClass ~ " active" %}
							{% endif %}

							<a class="{{ navClass }}" {% if item.disabled == 1 %} aria-disabled="true" {% else %} href="{{ item.url }}" {{ currentPage == item.page ? 'aria-current="page"' : '' }} {% endif %}>
								{{ item.label }}
							</a>
						</li>
					{% endfor %}
				</ul>
				<div class="d-flex">
					<div class="me-1"
					x-data="{ 
						themeValue: document.documentElement.getAttribute('data-bs-theme'),
						toggle() {
							this.themeValue = this.themeValue === 'dark' ? 'light' : 'dark';
							document.documentElement.setAttribute('data-bs-theme', this.themeValue);
							document.cookie = `theme=${this.themeValue};path=/;max-age=31536000`;
							}
						}"
					>
						
						<button @click="toggle()" class="btn btn-outline-secondary">
							<i class="bi" :class="themeValue === 'dark' ? 'bi-sun-fill' : 'bi-moon-fill'"></i>
						</button>
					</div>
					{% if user %}
						<a class="btn btn-outline-primary" x-on:click="openUserModal = true">
							<i class="bi bi-person"></i>
							{{ user.nom_utilisateur }}
						</a>
					{% else %}
						{% if currentPage == "login.twig" or currentPage == "signup.twig" %}
							<a class="btn btn-primary" href="app.php?route=login">
								<i class="bi bi-person"></i>
								Se connecter
							</a>
						{% else %}
							<a class="btn btn-outline-primary" href="app.php?route=login">
								<i class="bi bi-person"></i>
								Se connecter
							</a>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</nav>
	<div class="modal" x-show="openUserModal">
		<div @click.away="openUserModal = false" class="confirm">
			<h3>{{ user.nom_utilisateur }}</h3>
			<p>Adresse mail :
				{{ user.email }}
			</p>
			<p>
				Date d'inscription :
				{{ user.date_inscription|date("d/m/Y") }}
			</p>

			<div class="confirm-buttons">
				<button @click="openUserModal = false" class="btn btn-secondary">
					Retour
				</button>

				{# Le clic final redirige vers l'action PHP du contrôleur #}
				<a href="app.php?action=disconnect" class="btn btn-danger">
					<i class="bi bi-box-arrow-right"></i>
					Se déconnecter
				</a>
			</div>
		</div>
	</div>
	<body>
		{% block content %}{% endblock %}
	</body>

	 <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</html></html>
